#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  gap: 4px;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
